workflows/n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a0c90250-4ceb-4f04-9d30-aa20168db905",
      "name": "Telegram Trigger",
      "webhookId": "c288b782-7f68-416f-919c-70961179ae94",
      "credentials": {
        "telegramApi": {
          "id": "PsL3p7zxd1huBv2c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jd = $json.message.text;\n\nreturn {\n  jd: jd,\n  chat_id: $json.message.chat.id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "270c1df7-3a05-419f-a4f4-85d4597e6dfa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_RESUME_DRIVE_LINK",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "b5b465b0-c52f-4f1f-94d3-6732ce02bf3b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tb45jlXQJ6QaOhDQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "id": "9e376f1f-d951-4f27-a153-83566766d15a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jd = $json.jd;\nconst resume = $json.text;\n\nconst prompt = `\nYou are an expert resume writer.\n\nJOB DESCRIPTION:\n${jd}\n\nBASE RESUME:\n${resume}\n\nTASK:\nGenerate a one-page ATS optimized resume.\n\nOUTPUT FORMAT:\nReturn ONLY clean HTML.\n\nRules:\n- Use simple HTML structure\n- Use inline CSS\n- Use <h1>, <h2>, <ul>, <li>\n- No explanations\n- No markdown\n`;\n\nreturn {\n  prompt: prompt,\n  chat_id: $json.chat_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "9c14dc44-c2da-47fe-9468-db6525200d85",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gsk_YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{JSON.stringify($json.prompt)}}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4096\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        0
      ],
      "id": "471a7e67-3c0d-4fdf-9fba-696d72cfb960",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.choices[0].message.content;\n\nreturn {\n  html: html,\n  chat_id: $json.chat_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "2d8d2995-65f1-464b-9798-f2946471f600",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/from/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{$json.html}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        0
      ],
      "id": "b8838889-e35a-410f-bfd0-af7446f91121",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "resume.pdf"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        0
      ],
      "id": "f38fdde4-170a-4bdd-b81b-fcebed162609",
      "name": "Send a document",
      "webhookId": "9422918e-ed18-494a-b05e-fe8430777126",
      "credentials": {
        "telegramApi": {
          "id": "PsL3p7zxd1huBv2c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        0
      ],
      "id": "57f792d5-9efb-4af6-b968-f295255707c1",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "url": "={{$json.data.url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        0
      ],
      "id": "0623d30a-e2c4-420a-87b8-44fe241f0aa0",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "51498a90-99a6-4278-8f4f-93a1e0643001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d524ac5200d78469688b04e95f3ef5b19fc204ab1c7ff1f7511eaa12ab19f2e2"
  },
  "id": "0tfbaljerF8L2Dzj",
  "tags": []
}